<div class="statistic">

  {% include '@components/inline-text/large-value/large-value.twig' with {
    value: value
  } %}
  <p class="font-bold">
    {{ caption }}
  </p>
  <p class="text-lg lg:text-2xl mb-0">
    {{ description }}
  </p>
</div>
