{# Module types:
    accordion
    callout
    card-carousel
    card-carousel-center
    card-group
    contact
    cta
    info-panel
    tabs
    testimonial
    testimonial-carousel
    video
    wysiwyg
#}

{# Section styling #}
{% if module_type in ['wysiwyg', 'video'] %}
  {% set padding = 'tight' %}
  {% set section_style = 'narrower' %}

{% elseif module_type in ['accordion', 'callout', 'tabs', 'testimonial'] %}
  {% set padding = 'tight' %}
  {% set section_style = 'narrow' %}

{% elseif module_type in ['card-carousel'] %}
  {% set intro_class = 'text-center' %}

{% elseif module_type in ['contact'] %}
  {% set exclude_container = true %}

{% elseif module_type in ['card-carousel-center'] %}
  {% set intro_class = 'text-center' %}
  {% set exclude_container = true %}

{% elseif module_type in ['testimonial-carousel'] %}
  {% set section_style = 'narrow' %}
  {% set intro_class = 'text-center' %}
{% endif %}

{# Section content #}
{% set section_content %}
  {% if module_type == 'wysiwyg' %}
    <section class="prose">
      {{ wysiwyg }}
    </section>

  {% elseif module_type == 'accordion' %}
    {% include 'molecules:accordion' %}

  {% elseif module_type == 'callout' %}
    {% include 'molecules:callout' %}

  {% elseif module_type == 'card-carousel' %}
    {% include 'molecules:carousel-cards' %}

  {% elseif module_type == 'card-carousel-center' %}
    {% include 'molecules:carousel-cards-center' %}

  {% elseif module_type == 'card-group' %}
    {% include 'molecules:listing' %}

  {% elseif module_type == 'contact' %}
    {% include 'molecules:contact-panel' %}

  {% elseif module_type == 'tabs' %}
    {% include 'molecules:tabs' %}

  {% elseif module_type == 'testimonial' %}
    {% include 'molecules:card-testimonial' %}

  {% elseif module_type == 'testimonial-carousel' %}
    {% include 'molecules:carousel-testimonial' %}

  {% elseif module_type == 'video' %}
    {% include 'atoms:video' with {
      trigger: "click"
    } %}
  {% endif %}
{% endset %}

{# Section #}
{% if section_content|trim is not empty %}
  {% include 'organisms:section' with {
    padding: padding,
    section_class: section_class,
    section_style: section_style,
    exclude_container: exclude_container,
    intro: intro,
    section_content: section_content,
  } %}

{# These modules already include the section embed: #}
{% elseif module_type == 'cta' %}
  {% include 'molecules:cta' %}

{% elseif module_type == 'info-panel' %}
  {% include 'molecules:info-panel' %}
{% endif %}
