{% embed '@components/sections/section.twig' with {
  padding: 'tight',
  section_class: section_class | default,
  section_style: "narrow"
}
%}
  {% block section_content %}
    <div class="logo-grid grid grid-cols-5 gap-4 items-center">
      {% for logo in logos %}
        <div class="logo-grid__item p-6 shadow-md h-full justify-self-center">
          {% if logo.url is empty %}<div class="col-span-1 logo-grid__item__logo bg-white">{% endif %}
            {% if logo.url %}<a class="c-logo-grid__item__logo
        bg-white" href="{{ logo.url }}">{% endif %}
              <img src="{{ logo.image.src }}" alt="{{ logo.image.alt }}" />
              {% if logo.url %}</a>{% endif %}
            {% if logo.url is empty %}</div>{% endif %}
        </div>
      {% endfor %}
    </div>
  {% endblock %}
{% endembed %}
