{% set card_classes = 'col-span-12 md:col-span-4' %}

{% if columns == 1 %}
  {% set card_classes = 'col-span-12 md:col-span-12' %}
{% elseif columns == 2 %}
  {% set card_classes = 'col-span-12 md:col-span-6' %}
{% endif %}

<div class="grid grid-cols-12 gap-6 align-{{ alignment | default('center') }}" data-equalizer data-equalize-on="medium">
  {% for item in items %}
    <div class="{{ card_classes }}">
      {{ item }}
    </div>
  {% endfor %}
</div>
