@media (min-width: 1024px) {
  .grid-template {
    columns: 2;
    column-gap: 5rem;
  }
  .grid-template > div { break-inside: avoid-column; }
  .sidebar, .sidebar-bottom { width: 50%; }
  .hero, .content { width: 150%; margin-left: -50%; }
  .hero { break-before: column; }

}
@media (max-width: 1023px) {
  .grid-template {
    display: flex;
    flex-direction: column;
  }
  .sidebar { order: 2 }
  .sidebar-bottom { order: 4 }
  .hero { order: 1 }
  .content { order: 3 }
}
