.custom, .fui-input {
  & + label {
    &:before {
      border-color: #828282;
    }
  }
}

form {
  fieldset {
    margin-bottom: 0.5rem;
  }
  legend {
    @apply text-lg;
    margin-bottom: 1.35rem;
  }
  label {
    @apply font-semibold text-lg text-neutrals-800;
    &.form-required:after {
      content: "*";
      color: #9C1B1B;
      margin-left: 5px;
    }
  }
  .description {
    margin-bottom: 0.65rem;
  }
  select {
    @apply py-[0.688rem] rounded-[4px] cursor-pointer;
  }
  textarea {
    @apply w-full rounded-[4px];
  }
  .form-type-textarea {
    margin-bottom: 1rem;
  }
  .form-type-checkbox {
    margin-bottom: 1.5rem;
  }
  @media (min-width: 768px) {
    .webform-flexbox {
      display: flex;
      select,
      input[type=text]{
        max-width: 100%;
        width: 100%;
      }
    }
    .webform-flex--container {
      margin: 0 1rem 0 0;
    }
    .webform-flex--1 {
      flex: 1;
    }
  }
  .webform-flexbox {
    margin-bottom: 1.5rem;
  }
}
fieldset {
  legend {
    @apply py-[0.688rem] rounded-[4px] cursor-pointer mb-0 border-[1px] border-neutrals-400 w-full text-sm;
    padding-left: 0.75rem;
    padding-right: 1.2rem;
    span.icon-caret-down {
      float: right;
    }
  }
  .collapsible-group {
    @apply py-[0.688rem] px-[0.75rem] rounded-[4px] border-[1px] border-neutrals-400 w-full text-sm;
  }
  label {
    @apply text-sm;
  }
}
input[type=text] {
  @apply py-[0.688rem] rounded-[4px];
}
